<h1>Profile- Daniel shakuri</h1>
<p class="my_bold my_red">Find me in app/views/pages/info.html.erb</p>
<p>Find me in app/views/pages/info.html.erb</p>


<script type="text/javascript">alert(234)</script>